#navbarNav {
    background-color: white;
    padding: 10px;
    margin: 0;
    border-left: 3.5px solid #57adbf;
}

#loading_container {
    display: none;
    width: 200px;
    margin-top: 2%;
    margin-left: 45%;
    margin-right: auto;
}

.circular-progress {
    margin-top: 50px;
    width: 100px;
    height: 100px;
    position: relative;
}

.spinner {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 8px solid transparent;
    border-top-color: #57adbf; /* Progress color */
    animation: spin 1s linear infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

#company_container {
    margin-top: 5%;
    margin-left: 32%;
    margin-right: auto;
}

#companies,
#from_currency,
#to_currency {
    color: #000;
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 15px;
}

#chartContainer {
    height: 300px;
    width: 70%;
    margin-top: 5%;
    margin-left: 13%;
    margin-right: auto;
}

.canvasjs-chart-canvas {
    padding: 4px;
    /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
        rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

#table_container {
    margin: 5% 30px 0 20px;
    /* width: 100%; */
}

#para {
    font-size: 2.3rem;
    font-weight: bold;
    color: #2b2e63; /* --rihno */
    margin-bottom: 10px;
    text-align: center;
}

.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.table th,
.table td {
    border: 1px solid transparent; /* Set border color to transparent */
    padding: 12px;
    text-align: center;
}

.table th {
    background-color: #57adbf; /* --fountain-blue */
    color: #fff; /* --white */
}

.table td {
    background-color: #fff; /* --white2 */
}

.table tbody tr:nth-child(odd) td {
    color: magenta; /* White color for odd rows */
}

.table tbody tr:nth-child(even) td {
    background-color: blue; /* --white2 color for even rows */
}

/* Hover effect for rows */
.table tbody tr:hover {
    background-color: #798dc5; /* --ship-cove */
    color: #fff; /* --white */
}

#download_data {
    display: none;
    margin-top: 30px;
    margin-left: 42%;
    margin-right: auto;
}

.get-data-btn {
    background-color: #57adbf; /* Use your color */
    color: #fff; /* Text color */
    border: none;
    padding: 8px 18px; /* Adjust padding as needed */
    border-radius: 5px; /* Adjust border radius for rounded corners */
    cursor: pointer;
    font-size: 14px; /* Adjust font size as needed */
    transition: background-color 0.3s ease; /* Smooth transition on hover */
}

.get-data-btn:hover {
    color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* settings page */
.mt-4 {
    margin-top: 1rem; /* You can adjust the margin-top as needed */
}

.text-center {
    text-align: center;
}

.profile-picture-container {
    position: relative;
    display: inline-block;
}

.profile-picture {
    width: 180px; /* Adjust the width of the profile picture as needed */
    height: 180px; /* Adjust the height of the profile picture as needed */
    border-radius: 50%;
    object-fit: cover; /* Maintain aspect ratio and cover the container */
    border: 4px solid #fff; /* Add a border with a color of your choice */
}

.delete-button {
    color: #fff; /* Text color for the delete button */
    border: none;
    padding: 5px 10px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 50%;
    position: relative;
    left: 17px;
    bottom: 40px;
    background-color: #fff;
}

/* Style for the delete button on hover */
.delete-button:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#currency_container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    margin-right: auto;
}

/* #exchange {
    background-color: white;
    width: 100%;
    margin-top: 50px;
    display: flex;
    fle
}

#exchange h6 {
    font-size: 16px;
    padding: 10px;
} */
